html
{
	margin: 0;
	padding: 0;
	font-family: "droid sans", "dejavu sans", sans-serif;
}

body
{
	margin: 0;
	padding: 0;
	background-color: #1F1F1F;
}

div
{
	position: relative;
	
	vertical-align: top;
	padding: 0;
	margin: 0;
}

h3
{
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.frame
{
	
}

.week
{	
	position: absolute;
	display: inline-block;
}

.week-timeline
{
	display: inline-block;
}

.timestamp
{
	position: absolute;
	display: inline-block;
	width: 100%;
	text-align: center;
	color: #888888;
}

.day
{
	display: inline-block;
}

.day-header
{
	padding-bottom: 4px;
	text-align: center;
	color: #888888;
}

.course-container
{
	position: absolute;
	display: inline-block;
}

.course
{
	margin: auto;
	
	width: 96%;
	height: 100%;
	
	cursor: pointer;
	
	background-color: #AAAAAA;
}

.course-type
{
	position: absolute;
	right: 4px;
	bottom: 2px;
	color: rgba(0,0,0,0.32);
}

.course-name
{
	margin-left: 4px;
	font-weight: bold;
}

.course-place
{
	margin-left: 4px;
}

.teacher
{
	margin-left: 4px;
}

.course-slider
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #66DD44;
}

.time-current
{
	background-color: #FFFF22;
	z-index: 2;
}

.time-next
{
	background-color: #DDDDDD;
	z-index: 2;
}

.time-previous
{
	background-color: #66DD44;
	z-index: 2;
}

.time-nearest
{
	background-color: #FF4422;
	z-index: 2;
}

.time-unable
{
	opacity: 0.2;
	z-index: 1;
}

.timer-remain
{
	position: absolute;
	right: 4px;
	color: #440000;
}
